* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  background-color: #062040;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  font-weight: 600;
  font-size: 40px;
  display: flex;
  position: relative;
}
.sec-text {
  color: #17f9ff;
}
.first-text {
  color: white;
  padding-right: 10px;
}

.text.sec-text::before {
  color: #17f9ff;
  content: "";
  border-left: 3px solid white;
  animation: animate 5s steps(10) infinite;
  position: absolute;
  left: 70;
  top: 0;
  height: 50px;
  background-color: #062040;
  width: 100%;
}

@keyframes animate {
  40%,
  60% {
    left: 100%;
  }
  100% {
    left: 17%;
  }
}
